<template name="navbar">
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">Inventory System</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                     <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/">Plants</a></li>
                                    <li><a href="/sellerDetails">Sellers</a></li>
                                    <li><a href="/buyerDetails">Buyers</a></li>
                                </ul>
                    </li>
                    <li><a href="/invoiceDetailsLandingPage">Invoice</a></li>
                    <li><a href="/purchaseDetailsLandingPage">Purchase Order</a></li> 
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Help</a></li>              
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/stockReports">Stock Reports</a></li>
                                    <li><a href="/sellerReports">Seller Reports</a></li>
                                    <li><a href="/buyerReports">Buyer Reports</a></li>
                                    <li><a href="/invoiceReports">Invoice Reports</a></li>
                                    <li><a href="/purchaseReports">Purchase Reports</a></li>
                                </ul>
                    </li>
                </ul>
        </div>
    </div>
  
</template>

