<head>
    <link rel="shortcut icon" type="image/png" href="favicon1.png" />
     <!--CSS files-->
    <link href="Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
     <!--JS files-->
    <script src="Script/jquery-1.12.0.min.js"></script>
    <script src="Script/bootstrap.min.js"></script>
    <script src="Script/jquery.dataTables.min.js"></script>
    </head>
<template name = "invoiceDetails">
<!--main div beginning-->
<div class="container-fluid">
      {{>navbar}}
<div class="row">
  <div class="col-md-6">
  
  <form  id="addToCart" class= "form-horizontal">
    <div id = "invoiceNoGroup" class="form-group">
      <label class="col-sm-2 control-label">Invoice Number</label>
        <div class="col-sm-10">
          <input type="text" id = "invoiceNo" class="form-control" placeholder="enter Invoice Number"/>
          <span id="invoiceSpan" style="color:red"></span>                      
        </div>
    </div>                   
    
    <div id = "buyerNameGroup" class="form-group">
      <label class="col-sm-2 control-label">Buyer Name</label>
        <div class="col-sm-10">
          <select class="form-control" id= "buyerId">
            {{#each buyerList}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
    </div>       

  <div id = "paymentStatusGroup" class="form-group">
      <label class="col-sm-2 control-label">Payment Status</label>
        <div class="col-sm-10">
          <input type="text" id = "paymentStatus" class="form-control" placeholder="enter Payment Status"/>
          <span id="paymentStatusSpan" style="color:red"></span>                      
        </div>
    </div>                   
    
    <div id = "deliveryStatusGroup" class="form-group">
      <label class="col-sm-2 control-label">Delivery Status</label>
        <div class="col-sm-10">
          <input type="text" id = "deliveryStatus" class="form-control" placeholder="enter Delivery Status"/>
          <span id="deliveryStatusSpan" style="color:red"></span>                      
        </div>
    </div>



<div id = "plantNameGroup" class="form-group">
      <label class="col-sm-2 control-label">Plant Name</label>
        <div class="col-sm-10">  
    <input class="form-control typeahead" id="plantName" type="text"
       placeholder="PlantName"
       autocomplete="off" spellcheck="off"
       data-source="plants"/>
     </div>
</div>

<input type ="submit" id = "addToCart" class="btn btn-success" value="add">
</form>


<div class="col-md-4">
</div>

  </div><!--end of col-->
  <div class="col-md-2">

    <div class="input-group datetimepicker">
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    <input class="set-due-date form-control" id="date" type="text"/>
    </div>

        </div>
     </div><!--end of col-->   

<div class="table-responsive" id="items">
                <table id="list-plants" class="table table-bordered">
                    <thead>
                        <tr>                            
                            <th>PlantName</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {{#each itemList}}
                          <tr>
                            <td>{{plantId}}</td>
                            <td>
                              <input type="text" id = "quantity" class="form-control" value="1" />          
                            </td>
                            <td>
                              <input type="text" id = "cost" class="form-control" placeholder="enter cost"/>          
                            </td>
                            <td><a id="removeFromCart">Delete</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
<div class="col-md-2">
<button type ="button" class="btn btn-success" id="finalInvoice"> Create final Invoice </button>
</div>
{{#if saved}}
 <div class="col-md-2">
<button type ="button" id= "cancelInvoice" class="btn btn-danger"> Cancel Invoice </button>
</div>

<div class="col-md-2">
<button type ="button" id="saveDraft" class="btn btn-success" > Save Draft </button>
</div>
{{/if}}
 <div class="col-md-2">
<button type ="button" class="btn btn-success"> Print </button>
</div>

</div><!--end of row-->     

<!--
<div class="table-responsive">
    <div class="scrollit">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Scientific Name</th>
                    <th>type</th>
                    <th>category</th>
                    <th>quantity</th>
                    <th>cost</th>
                    <th>Action</th>
             <td>{{plantId}}</td>   </tr>
            </thead>
          {{#each plantList}}                         
         <tbody>
         <tr>
               <td>{{name}}</td>
               <td>{{scientificName}}</td>
               <td>{{type}}</td>
               <td>{{category}}</td>
               <td>{{quantity}}</td>
               <td>{{cost}}</td>
               <td>
               <form id="addToCart" class= "form-inline">
               <div class="form-group" id="quantityGroup">
               <input type ="text" class="form-control" id="quantity" placeholder="enter quantity" data-toggle="tooltip" data-placement="right" title=" enter quantity in decimal system" >
               <input type ="submit" class="btn btn-success"  value="add" autocomplete="on">
               </div>
               </form>
               </td>          
         </tr>
       </tbody>
         {{/each}}
        </table>
    </div>
</div>

{{#if itemAdded}}
<h4>items</h4>
<div class="table-responsive" id="itemList">
        <table class="table table-hover">
            <thead>
                <tr>
      <div class="modal-body">              <th>Name</th>
                    <th>Quantity</th>
                    <th>Selling Cost</th>
                    <th>Action</th>
                </tr>
            </thead>
          {{#each itemList}}                         
         <tbody>
         <tr>
               <td>{{plantId}}</td>
               <td>{{quantity}}</td>               
               <td>             
               <input type ="text" class="form-control" id="sellingCost" placeholder="enter Selling Cost" data-toggle="tooltip" data-placement="right" title=" enter quantity in decimal system" >
               </td>          
                <td>
               <form id="removeFromCart" class= "form-inline">
               <div class="form-group">
               <input type ="submit" class="btn btn-danger"  value="Remove" autocomplete="on">
               </div>
               </form>
                
                </td>
         </tr>
       </tbody>
         {{/each}}
        </table>
</div><input type="text" id = "newPlantCategory" class="form-control" 
<form class="form-inline" id="confirm">
  <input type="submit" class="btn btn-success" value="confirm" data-target="#invoiceModal">
</form>
{{/if}}
{{/each}}

<div id="invoiceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Invoice</h4>
      </div>
      <div class="modal-body">
      <div class="table-responsive">
<option value="cash">cash</option>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></div>Quantity</th>
                    <th>Selling Cost</th>  
                </tr>
            </thead>
          {{#each invoiceList}}                         
         <tbody>
         <tr>
               <td>{{plantId}}</td>
               <td>{{quantity}}</td>               
               <td>{{sellingCost}}</td>                                                     
         </tr>
       </tbody>
         {{/each}}
        </table>

</div>  

        <form class="form-horizontal" id="confirmInvoice">
          <div class="form-group">
            <label class="col-sm-2 control-label">Buyer Name</label>
                            <div class="col-sm-10">
                                <input type="text" id = "newPlantCategory" class="form-control" placeholder="Enter Category" />
                                <select class="form-control" id= "buyerId">
                                    {{#each buyerList}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">payment options</label>
                            <div class="col-sm-10">
                                <input type="text" id = "newPlantCategory" class="form-control" placeholder="Enter Category" />
                                <select class="form-control" id= "paymentOptions">                                
                                    <option value="cash">cash</option>
                                    <option value="cheque">cheque</option>                                    
                                </select>
                            </div>
                        </div>
        <button type="submit" class="btn btn-success" data-dismiss="modal" id="invoiceAdd">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </form>
      </div>
      <div class="modal-footer">       
      </div>
    </div>
  </div>
</div>




    

--> 
     
</template>