<template name="plantDetails">
    <h2>
        {{getHeaderName}}
    </h2>
    {{> searchPlant}}
</template>

<template name="searchPlant">
    <input type="text" id="searchPlant" value="Search Plant" />
    {{> plantDetailsTable}}
</template>

<template name="plantDetailsTable">
    <table class="table" border="1">
    <th>
      <td>Name</td>
      <td>Quantity</td>
      <td>Cost</td>
    </th>
    {{#each plantsList}}
      <tr>
          <td>{{name}}</td>
          <td>{{unit}}</td>
          <td>{{cost}}</td>
      </tr>
    {{/each}}
  </table>
</template>

