<head>
  <title>codeBash</title>
       <!-- CSS files -->
    <link href="Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/datatable/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="Content/style.css" rel="stylesheet" />
    <!-- JS files -->
    <script src="Script/jquery-1.12.0.min.js"></script>
    <script src="Script/bootstrap.min.js"></script>
    <script src="Script/jquery.dataTables.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

</head>

<body>
 
</body>

<!--<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>-->
