<head>
    <title></title>

</head>
<template name="sellerDetails">
    <div class="container-fluid">
        {{>navbar}}
        <div class="in-header row">
            <div class="col-md-6">
                <i class="fa fa-dot-circle-o  fa-lg"></i>
                <span>seller</span>
            </div>
            <div class="col-md-6 text-right">
                <a href="javascript:void(0)" id="addSellerDetails" data-toggle="tooltip" data-placement="bottom"
                    title="" data-original-title="Add New seller"
                    class="tool-tip" data-target="#myModal"><i id="newSellerModal" class="fa fa-plus-circle fa-2x"></i></a>
            </div>
        </div>


       
            <div class="table-responsive">
                <table id="list-sellers" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone No</th>
                            <th>Email Id</th>
                            <th>Bank Name</th>
                            <th>Branch</th>
                            <th>IFSC code</th>
                            <th>Account Number</th>    
                            <th>Commands</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each sellerList}}
                        <tr>
                           <td>{{name}}</td>
                           <td>{{address}}</td>
                           <td>{{phoneNo}}</td>
                           <td>{{emailId}}</td>
                           <td>{{bankAccountDetails.bankName}}</td>
                           <td>{{bankAccountDetails.branch}}</td>
                           <td>{{bankAccountDetails.IFSCCode}}</td>
                           <td>{{bankAccountDetails.accountNumber}}</td>
                                   
                            <td><a id= "updateDetails">Edit</a> <a id="deleteSellerId">Delete</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" data-backdrop="false" id="new-seller" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div>
                            <i class="fa fa-dot-circle-o  fa-lg"></i>
                            <span class="modal-title">New seller</span>
                        </div>

                    </div>
                    <div class="modal-body">

                <form id="newSellerForm" class="form-horizontal">

                        <div class="form-group" id = "newSellerNameGroup">
                            <label class="col-sm-2 control-label">Name <span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newSellerName" class="form-control" placeholder="Enter Seller Name" />
                                <span id= "newSellerNameSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id = "newSellerAddressGroup">
                            <label class="col-sm-2 control-label">Address<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newSellerAddress" class="form-control" placeholder="Enter Seller Address" />
                                <span id="newSellerAddressSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id = "newSellerPhoneNoGroup">
                            <label class="col-sm-2 control-label">Phone no <span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newSellerPhoneNo" class="form-control" placeholder="Enter Phone No" />
                                <span id="newSellerPhoneNoSpan"  style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id = "newSellerEmailIdGroup">
                            <label class="col-sm-2 control-label">Email Id<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newSellerEmailId" class="form-control" placeholder="Enter Email Id" />
                                <span id = "newSellerEmailIdSpan"  style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id="newBankNameGroup">
                            <label class="col-sm-2 control-label">BankName<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newBankName" class="form-control" placeholder="Enter Bank Name" />
                                <span id ="newBankNameSpan" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group" id = "newBranchNameGroup">
                            <label class="col-sm-2 control-label">Branch<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newBranchName" class="form-control" placeholder="Enter Branch" />
                                <span id ="newBranchNameSpan" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group"  id = "newIFSCGroup" >
                            <label class="col-sm-2 control-label">IFSC Code<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newIFSC" class="form-control" placeholder="Enter IFSC Code" />
                                <span id ="newIFSCSpan" style="color:red"></span>
                            </div>
                        </div>
                        
                        <div class="form-group" id = "newAccountNumberGroup">
                            <label class="col-sm-2 control-label">Account Number<span style="color:red">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" id = "newAccountNumber" class="form-control" placeholder="Enter Account Number" />
                                <span id="newAccountNumberSpan" style="color:red"></span>
                            </div>
                        </div>
                        <button type="button" id ="newSellerCancel" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="addSeller" value="Save" class="btn btn-primary" >
                        </form>
                    </div>
                    <div class="modal-footer">
                           <span style="color:red">Fields marked with * are mandatory</span>
                    </div>
                
            </div>

        </div>
    </div>





    <!-- edit Modal -->
    <div class="modal fade" data-backdrop="false" id="edit-seller" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div>
                            <i class="fa fa-dot-circle-o  fa-lg"></i>
                            <span class="modal-title">Edit seller</span>
                        </div>

                    </div>
                    <div class="modal-body">

                <form id="editSellerForm" class="form-horizontal">

                        <div class="form-group" id = "sellerNameGroup">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" id = "sellerName" class="form-control"   value="{{updateObj.name}}" />
                                <span id="sellerNameSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sellerAddressGroup">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" id = "sellerAddress" class="form-control" value="{{updateObj.address}}" />
                                <span id="sellerAddressSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sellerPhoneNoGroup">
                            <label class="col-sm-2 control-label">Phone no</label>
                            <div class="col-sm-10">
                                <input type="text" id = "sellerPhoneNo" class="form-control" value=
                                "{{updateObj.phoneNo}}" />
                                <span id="sellerPhoneNoSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id="sellerEmailIdGroup">
                            <label class="col-sm-2 control-label">Email Id</label>
                            <div class="col-sm-10">
                                <input type="text" id = "sellerEmailId" class="form-control" value="{{updateObj.emailId}}" />
                                <span id="sellerEmailIdSpan" style="color:red"></span>
                            </div>
                        </div>
                        <div class="form-group" id="bankNameGroup">
                            <label class="col-sm-2 control-label">BankName</label>
                            <div class="col-sm-10">
                                <input type="text" id = "bankName" class="form-control"  value="{{updateObj.bankAccountDetails.bankName}}" />
                                <span id="bankNameSpan" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group" id = "branchNameGroup">
                            <label class="col-sm-2 control-label">Branch</label>
                            <div class="col-sm-10">
                                <input type="text" id = "branchName" class="form-control" value="{{updateObj.bankAccountDetails.branch}}" />
                                <span id="branchNameSpan" style="color:red"></span>
                            </div>
                        </div>

                        <div class="form-group" id= "IFSCGroup">
                            <label class="col-sm-2 control-label">IFSC Code</label>
                            <div class="col-sm-10">
                                <input type="text" id = "IFSC" class="form-control" value="{{updateObj.bankAccountDetails.IFSCCode}}" />
                                <span id="IFSCSpan" style="color:red"></span>
                            </div>
                        </div>
                        
                        <div class="form-group" id = "accountNumberGroup">
                            <label class="col-sm-2 control-label">Account Number</label>
                            <div class="col-sm-10">
                                <input type="text" id = "accountNumber" class="form-control" value="{{updateObj.bankAccountDetails.accountNumber}}" />
                                <span id="accountNumberSpan" style="color:red"></span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="addSeller" value="Save" class="btn btn-primary" >
                        </form>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                
            </div>

        </div>
    </div>




<div id="deleteModal" data-backdrop="false" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Seller</p>
      </div>
      <div class="modal-footer">       
            <input type="button" class="btn btn-success" data-dismiss="modal" id="deleteSeller" value="Yes"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</template>