<template name="finalPurchasePreview">
	<div class="container-fluid" id="rootDiv">
		{{>navbar}}
		<div class="row">
			<div class="col-md-6">

				<form  id="addToCart" class= "form-horizontal">
					<div id = "purchaseNoGroup" class="form-group" style=" margin:0px">
						<label class="col-sm-2 control-label">purchase Number</label>
						<div class="col-sm-10">
							<input type="text" id="purchaseNo" class="form-control" value =" {{purchaseData.purchaseId}}" disabled/>
							<span id="purchaseNoSpan" style="color:red"></span>                      
						</div>
					</div>                   

					<div id = "sellerNameGroup" class="form-group" style=" margin:0px">
						<label class="col-sm-2 control-label">seller Name</label>
						<div class="col-sm-10">
							<input type="text" id="sellerName" class="form-control" value ="{{purchaseData.sellerId}}" disabled/><span id="sellerNameSpan" style="color:red"></span>                             
						</div>
					</div>       

					<div id = "paymentStatusGroup" class="form-group" style=" margin:0px">
						<label class="col-sm-2 control-label">Payment Status</label>
						<div class="col-sm-10">
							<input type="text" id="paymentStatus" class="form-control"  value ="{{purchaseData.paymentStatus}}" disabled/>
							<span id="paymentStatusSpan" style="color:red"></span>                      
						</div>
					</div>                   

					<div id = "deliveryStatusGroup" class="form-group" style=" margin:0px">
						<label class="col-sm-2 control-label">Delivery Status</label>
						<div class="col-sm-10">
							<input type="text" id="deliveryStatus" class="form-control" value =" {{purchaseData.deliveryStatus}} " disabled/>
							<span id="deliveryStatusSpan" style="color:red"></span>                      
						</div>
					</div>

					<div id = "dateGroup" class="form-group" style=" margin:0px">
						<label class="col-sm-2 control-label">Date</label>
						<div class="col-sm-10">
							<input type="text" id="date" class="form-control" value ="{{purchaseData.date}}" disabled/>
							<span id="dateSpan" style="color:red"></span>                      
						</div>
					</div>

		
					

				</form>
			</div>	

				<div class="col-md-4">
				</div>

			</div><!--end of col-->
			<div class="form-group" id="tableGroup">
				<div class="table-responsive" id="items">
					<table id="list-plants" class="table table-bordered">
						<thead>
							<tr>                            
								<th>PlantName</th>
								<th>Quantity</th>
								<th>Cost</th>
							</tr>
						</thead>
						<tbody>
							{{#each itemList}}
							<tr>
								<td>{{plantId}}</td>
								<td>
									<div id = "quantityGroup" class="form-group">
										<input type="text" id = "quantity" class="form-control" value="{{cost}}" disabled/>   
										<span id="quantitySpan" style="color:red"></span>       
									</div>
								</td>
								<td>
									<div id = "costGroup" class="form-group">
										<input type="text" id = "cost" class="form-control" value="{{quantity}}" disabled/>          
										<span id="costSpan" style="color:red"></span>       
									</div>
								</td>

								
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<span id="tableSpan" style="color:red"></span>                      
			</div>    
			
			<div class="col-md-2">
				<button type ="button" id="printPurchase" class="btn btn-raised btn-success"> Print </button>
			</div>
		</div>

	</template>