<template name = "purchaseDetails">
  <!--main div beginning-->
  <div class="container-fluid" id="rootDiv">
    {{>navbar}}
    <div class="row">
      <div class="col-md-6">
        
        <form  id="addToCart" class= "form-horizontal">
          <div id = "purchaseNoGroup" class="form-group">
            <label class="col-sm-2 control-label">Purchase Number</label>
            <div class="col-sm-10">
              <input type="text" id="purchaseNo" class="form-control" placeholder="enter purchase Number" value =" {{savedObj.purchaseNo}} "/>
              <span id="purchaseNoSpan" style="color:red"></span>                      
            </div>
          </div>                   
          
          <div id = "sellerNameGroup" class="form-group">
            <label class="col-sm-2 control-label">Seller Name</label>
            <div class="col-sm-10">
              <select class="form-control" id="sellerId" >
                {{#each sellerList}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
              <span id="sellerNameSpan" style="color:red"></span>                             
            </div>
          </div>       

          <div id = "paymentStatusGroup" class="form-group">
            <label class="col-sm-2 control-label">Payment Status</label>
            <div class="col-sm-10">
              <select class="form-control" id="paymentStatus">
                <option value=" Pending "> Pending </option>
                <option value=" cleared "> Cleared </option>
              </select>
              <span id="paymentStatusSpan" style="color:red"></span>                      
            </div>
          </div>                   
          
          <div id = "deliveryStatusGroup" class="form-group">
            <label class="col-sm-2 control-label">Delivery Status</label>
            <div class="col-sm-10">
              <select class="form-control" id="deliveryStatus">
                <option value=" Dispatch "> Yet to Dispatch </option>
                <option value=" Delivered ">  Delivered </option>
              </select>
              <span id="deliveryStatusSpan" style="color:red"></span>                      
            </div>
          </div>

          <div class="form-group">
          </div>
          <div class="form-group">
          </div>

          <div id = "plantNameGroup" class="form-group">
            <label class="col-sm-2 control-label">Plant Name</label>
            <div class="col-sm-10">  
              <input class="form-control typeahead" id="plantName" type="text"
              placeholder="PlantName"  autocomplete="off" spellcheck="off"
              data-source="plants"/>
              <input type="submit" id="addToCart" class="btn btn-raised btn-success"
              value="add" style="margin-left: 50px;">
            </div>
          </div>


        </form>


        <div class="col-md-4">
        </div>

      </div><!--end of col-->
      <div class="col-md-2">
       <div class="form-group" id="dateGroup">    
         <div class="input-group datetimepicker" >
          <span class="input-group-addon"><i
            class="glyphicon glyphicon-calendar" id="dateIcon"></i></span> <input
            class="set-due-date form-control" type="text" id="date" value= "{{invoiceSavedObj.date}}"  />
          </div>
          <span id="dateSpan" style="color:red"></span>                      
        </div>
      </div>
    </div><!--end of col-->   
    <div class="form-group" id="tableGroup">
      <div class="table-responsive" id="items">
        <table id="list-plants" class="table table-bordered">
          <thead>
            <tr>                            
              <th>PlantName</th>
              <th>Quantity</th>
              <th>Cost</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each itemList}}
            <tr>
              <td>{{plantId}}</td>
              <td>
               <div id = "quantityGroup" class="form-group">
                <input type="text" id = "quantity" class="form-control" value="1" />   
                <span id="quantitySpan" style="color:red"></span>       
              </div>
            </td>
            <td>
              <div id = "costGroup" class="form-group">
                <input type="text" id = "cost" class="form-control" placeholder="enter cost"/>          
                <span id="costSpan" style="color:red"></span>       
              </div>
            </td>
            <td>{{individualTotal}}</td>
            <td><a id="removeFromCart">Delete</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <span id="tableSpan" style="color:red"></span>                      
  </div>    
  <div class="col-md-2">
    <button type ="button" class="btn btn-raised btn-success" id="finalPurchase"> Create final purchase </button>
  </div>

  <div class="col-md-2">
    <button type ="button" id= "cancelPurchase" class="btn btn-raised btn-danger"> Cancel purchase </button>
  </div>


  <div class="col-md-2">
    <button type ="button" id="saveDraft" class="btn btn-raised btn-success" > Save Draft </button>
  </div>
  <div class="col-md-2">
    <button type ="button" id="printPurchase" class="btn btn-raised btn-success"> Print </button>
  </div>
</div>

<div id="saveModal" data-backdrop="false" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Your Purchase is saved</p>
      </div>
      <div class="modal-footer">       
        <input type="submit" class="btn btn-raised btn-success" data-dismiss="modal" id="savePurchase" value="Ok"> 
      </div>
    </div>
  </div>
</div>


<div id="confirmModal" data-backdrop="false" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Your Purchase is confirmed</p>
      </div>
      <div class="modal-footer">       
        <input type="submit" class="btn btn-raised btn-success" data-dismiss="modal" id="confirmPurchase" value="Ok"> 
      </div>
    </div>
  </div>
</div>

</template>