<template name = "purchaseDetails">
<!--main div beginning-->
<div class="container-fluid">
      {{>navbar}}
<div class="row">
  <div class="col-md-6">
  
  <form  id="addToCart" class= "form-horizontal">
    <div id = "purchaseNoGroup" class="form-group">
      <label class="col-sm-2 control-label">purchase Number</label>
        <div class="col-sm-10">
          <input type="text" id = "purchaseNo" class="form-control" placeholder="enter purchase Number" value =" {{savedObj.purchaseNo}} "/>
          <span id="purchaseSpan" style="color:red"></span>                      
        </div>
    </div>                   
    
    <div id = "sellerNameGroup" class="form-group">
      <label class="col-sm-2 control-label">seller Name</label>
        <div class="col-sm-10">
          <select class="form-control" id= "sellerId" selected ="{{savedObj.sellerId}}">
            {{#each sellerList}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
    </div>       

  <div id = "paymentStatusGroup" class="form-group">
      <label class="col-sm-2 control-label">Payment Status</label>
        <div class="col-sm-10">
          <select class="form-control" id= "paymentStatus" selected ="{{savedObj.paymentStatus}}">
            <option value=" Pending "> Pending </option>
            <option value=" cleared "> Cleared </option>
          </select>
          <span id="paymentStatusSpan" style="color:red"></span>                      
        </div>
    </div>                   
    
    <div id = "deliveryStatusGroup" class="form-group">
      <label class="col-sm-2 control-label">Delivery Status</label>
        <div class="col-sm-10">
          <select class="form-control" id= "deliveryStatus" selected ="{{savedObj.deliveryStatus}}">
            <option value=" Dispatch "> Dispatch </option>
            <option value=" Delivered ">  Delivered </option>
          </select>
          <span id="deliveryStatusSpan" style="color:red"></span>                      
        </div>
    </div>

<div class="form-group">
  </div>
<div class="form-group">
  </div>

<div id = "plantNameGroup" class="form-group">
      <label class="col-sm-2 control-label">Plant Name</label>
        <div class="col-sm-10">  
    <input class="form-control typeahead" id="plantName" type="text"
       placeholder="PlantName"  autocomplete="off" spellcheck="off"
       data-source="plants"/>
    <input type="submit" id="addToCart" class="btn btn-success"
          value="add" style="margin-left: 50px;">

     </div>
</div>


</form>


<div class="col-md-4">
</div>

  </div><!--end of col-->
     <div class="col-md-2">    
   <div class="input-group datetimepicker" >
        <span class="input-group-addon"><i
          class="glyphicon glyphicon-calendar"></i></span> <input
          class="set-due-date form-control" type="text" id="date" value= "{{invoiceSavedObj.date}}"  />
      </div>

        </div>
     </div><!--end of col-->   

<div class="table-responsive" id="items">
                <table id="list-plants" class="table table-bordered">
                    <thead>
                        <tr>                            
                            <th>PlantName</th>
                            <th>Quantity</th>
                            <th>Cost</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {{#each itemList}}
                          <tr>
                            <td>{{plantId}}</td>
                            <td>
                              <input type="text" id = "quantity" class="form-control" value="1" />          
                            </td>
                            <td>
                              <input type="text" id = "cost" class="form-control" placeholder="enter cost"/>          
                            </td>
                            <td><a id="removeFromCart">Delete</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
<div class="col-md-2">
<button type ="button" class="btn btn-success" id="finalPurchase"> Create final purchase </button>
</div>

 <div class="col-md-2">
<button type ="button" id= "cancelPurchase" class="btn btn-danger"> Cancel purchase </button>
</div>

{{#if saved}}
<div class="col-md-2">
<button type ="button" id="saveDraft" class="btn btn-success" > Save Draft </button>
</div>
{{/if}}
 <div class="col-md-2">
<button type ="button" class="btn btn-success"> Print </button>
</div>
</div>
     
</template>